<table class="table table-bordered">
  <thead>
    <tr>
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
    <td>
      <% genres.each do |genre| %>
        <%= genre.name %><br/>
      <% end %>
    </td>
  </tbody>
</table>