// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cart-btn {
  display: flex;
  justify-content: center;
}

.yen {
  font-weight: lighter;
  padding-left: 7px;
}