<h2>注文情報確認</h2>
<table>
    <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th></th>
        <th></th>
    </tr>
    
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        
    </tr>
</table>

