<section id="top">
  <div class="container-fluid pb-3">
    <%= render 'top-header' %>
    <div class ="top-message">
    　<h2 class="heading">ようこそながのCakeへ！</h2><br>
      <p>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
      </p>
    </div>
  </div>
</section>
<%= render 'top-slider' %>
<section id="top-about">
  <h2>てきすと</h2>
</section>