<div class="header">
  <%= render "layouts/header" %>
</div>
<div class="container my-5">
  <% if current_customer.cart_items.blank? %>
    <div class="row">
      <h3 class="mx-auto">カートに商品はありません</h3>
    </div>
    <div class="row">
      <%= link_to "商品一覧へ", items_path, class: "btn btn-primary mx-auto my-4" %>
    </div>
  <% else %>
    <%= render 'cart_items/index', cart_items: @cart_items %>
  <% end %>
</div>