<div class="container my-5">
  <div class="row">
    <% if current_customer.cart_items.blank? %>
      <h3>カートに商品はありません</h3>
    <% else %>
      <%= render 'cart_items/index', cart_items: @cart_items %>
    <% end %>
  </div>
</div>