/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.item-name {
  font-size: 13px;
}

.pagination {
  justify-content: center;
}

.cart-thead th:first-child {
  width: 45%;
}
.cart-thead th:not(:first-child) {
  width: 14%;
}

#top {
    width: 100%;
    height: 1000px;
    text-align: center;
    color: white;
    background-image: url(cake-top.jpeg);
    background-size: cover;
    background-position: center;
}

.top-message {
    padding-top: 200px;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    color: black;
}

#about {
    width: 100%;
    height: 650px;
    text-align: center;
    color: white;
    background-image: url(cake-about.jpeg);
    background-size: cover;
    background-position: center;
}

.about-message {
    padding-top: 200px;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
}

.carousel-item {
  height: 600px;
}

.carousel-caption {
    padding-bottom: 250px;
}

#login {
    width: 100%;
    height: 550px;
    text-align: center;
    color: white;
    background-image: url(cake-login.jpg);
    background-size: cover;
    background-position: center;
}

#signin {
    width: 100%;
    height: 750px;
    text-align: center;
    color: white;
    background-image: url(cake-signin.jpg);
    background-size: cover;
    background-position: center;
}