<footer class="bg-light text-center ">
  <div class='container'>
    <div class='row'>
      <div class='mx-auto'>
        <h3><i class="fab fa-instagram"></i> instagram</h3>
        <p>copyright naganoCake 2001</p>
      </div>
    </div>
  </div>
</footer>